body {
    text-align: center;

}

#ownerLink:Link {
    color: gold;
}

#ownerLink {
    margin-left: 70%;
}

#description {
    border-style: groove;
    width: 75%;
}

#product {
    display: inline-flex;
    width: 70%;
    margin-bottom: 1em;
}

#data {
    margin-bottom: 2em;
}

.buyPicture:hover {
    transition: transform 0.5s;
    transform: scale(1.2, 1.2);
}

.owner-badge {
    display: block;
}

.owner-badge:hover {
    transition: transform 0.5s;
    transform: scale(1.2, 1.2);
}

.login-link {
    color: red;
}

.login-link:hover {
    color: #c2bd60;
}

.firstCard {
    margin: 0px;
    padding: 0px;
    background-color: #1e4151;
    color: #c2bd60;

}

.secondCard {
    background-color: #c2bd60;
}

.btn {
    color: #dec06e;
    background-color: #111111;
    border-color: black;
}

.btn:hover {
    background-color: #dec06e;
    color: #111111;
    border-color: #111111;
}


@media only screen and (max-width: 800px) {
    .card-img-left {
        width: 250px;
        height: 250px;
    }
    #search {
        width: 90%;
    }
    #category {
        width: 90%;
    }

}
