
.actions {
    text-align: center;
    border: 2px;
    border-style: solid;
    width: 50%;
    height: auto;
    background-color: white;
    border-color: #1e4151;
    margin: 1em auto;
    padding: 1em;
    display: block;
    position: relative;

}

.actions:hover {
    background-color: #c2bd60;
}

address {
    text-align: center;
    top: 100%;
}

a.Home {
    color: black;
    text-underline: none;
}

a.Home:hover {
   color: black;
    text-decoration: none;

}

body {
    overflow: hidden;
}

.Logo {
    width: 15%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 80%;
}

.Logo:hover {
    transition: transform 0.5s;
    transform: scale(1.2, 1.2);
}

#ElonJesus {
    width: 250px;
    height: auto;
    z-index: -1;
}











